<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- head -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="assets/favicon.jpg" />
	
    <!-- Title of page -->
    <title>moderna Contact Us HTML Template</title>
	
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" href="reset-fonts-grids.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

	<!-- .JS Files -->
    <script type="text/javascript" src="js/jquery.tools/jquery.tools.min.js"></script>
	<script type="text/javascript" src="js/cufon/cufon-yui.js"></script>
    <script type="text/javascript" src="js/cufon/eurofurence_500.font.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

</head>

<body>
    <div id="doc3" class="yui-t6">
        
        <!--header-->
        <div id="hd">  
                      
           <a href="home.html" class="logo">
              <img src="images/logo.png" alt="" />
           </a><!--end logo-->
                        
           <div class="menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
           </div><!--end menu-->                 
                                  
           <div class="breadcrumbs"> 
                <p class="about-us">Contact Us | </p><p class="what-we-do">Our Contacts</p>
           </div><!--end breadcrumbs-->    
           
           <div class="shadow-below-breadcrumbs"> 
           </div> <!-- end shadow-below-breadcrumbs -->
                              
        </div> <!--end header-->
           
        <!--middle content-->    
        <div id="bd">	                     

			<!-- main content --> 
            <div class="page">		                                     
                 
                 <h1>Let`s talk</h1>
                 
                 <div class="text-below-of-lets-talk">
                    <p>Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien. Vivamus convallis rutrum lorem. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. <strong>Donec imperdiet. Proin ac odio</strong> in urna cursus ultricies. Quisque tincidunt lacus in ante. 
Donec adipiscing. </p>
                 </div> <!--end text-right-of-image -->
                 
                 <form action="php/mail.php" method="post" enctype="multipart/form-data">
                     <div class="input">
						 <ul>
							<li><input name="name"  value="&nbsp;&nbsp;Name..." onblur="this.value=!this.value?'&nbsp;&nbsp;Name...':this.value;" onfocus="this.select();" 
								onclick="this.value='';" class="input-row"/>
							</li>	
							<li><input name="email" value="&nbsp;&nbsp;Email..."  class="input-row" onblur="this.value=!this.value?'&nbsp;&nbsp;Email...':this.value;" onfocus="this.select();" 
								onclick="this.value='';"/>
							</li>  
							<li><input name="subject" value="&nbsp;&nbsp;Subject..."  class="input-row" onblur="this.value=!this.value?'&nbsp;&nbsp;Subject...':this.value;" onfocus="this.select();" 
								onclick="this.value='';"/>
							</li>  
							<li><textarea class="textarea-field" name="message" cols="80" rows="5" onblur="this.value=!this.value?'&nbsp;&nbsp;Message':this.value;" onfocus="this.select();" 
								onclick="this.value='';">&nbsp;&nbsp;Message</textarea>
							</li>   
							<li><input type="submit" name="" class="btn-send" value="SEND"/> 
							</li>  
						 </ul>          
                     </div>  <!--end input -->
                 </form>
                 
                 <div class="google-map">
                     <h3>find us via Google Maps</h3>
                     <img src="images/map.jpg" width="544" height="285" alt="Google Maps" />
                 </div><!--end google-map-->
                 
                 
            </div><!-- end main content --> 
           
           	<!--sidebar-->
            <div class="sidebar"> 
            
                <div class="office-europe">
                    <p class="sidebar-title">office europe</p>
                    <p class="green-text">sociosqu ad litora</p>                                            
                </div>  <!--end office-europe -->
                
               <div class="phone-fax-email">
                   <ul>
                       <li>Phone:</li>
                       <li>+123.456.789</li>
                       <li>Fax:</li>
                       <li>+123.456.789</li>
                       <li>Email:</li>
                       <li>office@something.com</li>
                   </ul>
                </div> <!--end phone-fax-email -->
                
                <div class="about-us-img">
                    <p class="sidebar-title">about us</p>
                    <p class="green-text">sociosqu ad litora</p>                                            
                </div> <!--end about-us-img -->
                
                <div class="image-below-about-us-title">  
                	<img src="assets/image-below-about-us-title.jpg" alt="" />
                    <p>Proin tortor sem, vehicula vitae, facilisis vel, accumsan a, sapien. Vivamus convallis rutrum lorem praesent massa.
                    <strong>Donec imperdiet. Proin ac odio</strong> in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing. </p> 
                </div>   <!--end image-below-about-us-title --> 
                
                <div class="read-more">                	
                    <ul>
                    	<li><a href="#">read more</a>&nbsp;&raquo;</li>
                    </ul>    
                </div> <!--end read-more -->
                
            </div>  <!-- end sidebar -->
       </div> <!--end middle content--> 


	</div> <!-- doc3 -->
    
    <!-- footer -->
    <div id="ft">
        <div class="wrapper">
        
            <div class="latest-news">
                <h4 class="footer-title">LATEST NEWS</h4>
                <ul>
                   <li>&raquo;<a href="#">Nulla facilisi roin tortor sem</a></li>
                   <li>&raquo;<a href="#">Vivarnus convalis rutrum lorem</a></li>
                   <li>&raquo;<a href="#">Praesent massa lectus vulputate</a></li>
                   <li>&raquo;<a href="#">Integer ante. Donec impediet</a></li>
                </ul>
            </div> <!-- end latest-news -->
            
            <div class="testemonials">
                <h4 class="footer-title">TESTEMONIALS</h4>
                <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            </div> <!-- end testemonials -->
            
            <div class="subscribers">  
                
                <div class="get-to-know">                  
                    <h4 class="footer-title">SUBSCRIBERS</h4>
                    <a href="#">Get to know what's new</a>
                </div>  <!-- end get-to-know -->
                 
                <div class="rss">
                    <a href="#"><img src="images/subscribers.png" alt=""/> </a>
                </div> <!-- end rss -->
                
                <div class="stalk-us">
                    <p>STALK US</p>
                    <a href="#">Join us on the web</a>
                </div>  <!-- end stalk-us -->
                
                <div class="social-networks"> 
                	<ul>                    
                        <li><a href="#"><img src="images/facebook.png" alt=""/></a></li>
                        <li><a href="#"><img src="images/twitter.png" alt="" /> </a></li>
                        <li><a href="#"><img src="images/linkedin.png" alt=""/> </a></li>
                        <li><a href="#"><img src="images/web.png" alt=""/></a></li>
                    </ul>                         
                </div>  <!-- end social-networks  -->
                                                             
            </div> <!-- end subscribers -->
            
            <div class="newsletter">  
                 <h4 class="newsletter-title">NEWSLETTER</h4> 
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <input class="input-email" value="&nbsp;&nbsp;Enter your email..." onblur="this.value=!this.value?'&nbsp;&nbsp;Enter your email...':this.value;" onfocus="this.select();" onclick="this.value='';"></input>
                 <div class="submit">
                     <a href="#" class="btn-submit">
                     	Submit
                        <img src="images/btn-submit.png" alt="" />
                     </a>
                 </div>   <!-- end submit -->
            </div> <!-- end newsletter -->
            
        </div> 
</div>  <!-- end footer -->
    
    <!-- copyright -->
    <div class="copyright">   
		<div class="copyright-wrapper">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="about-us.html">About</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="services.html">Services</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="contact-us.html">Contact</a></li> 
            </ul>              
                
            <div class="copyright2010">
                <p class="all-right-reserved">Copyright 2010. </p>
                <a href="#" id="moderna-link">moderna.</a> 
                <p class="all-right-reserved">All Right Reserved.</p>       
            </div> <!-- end copyright2010 -->  
        </div>              
    </div>  <!-- end copyright -->
    
</body>
</html>