<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- head -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="assets/favicon.jpg" />
	
    <!-- Title of page -->
    <title>moderna Services HTML Template</title>
	
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" href="reset-fonts-grids.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox-1.3.1.css" />

	<!-- .JS Files -->
    <script type="text/javascript" src="js/jquery.tools/jquery.tools.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.js"></script>    
	<script type="text/javascript" src="js/cufon/cufon-yui.js"></script>
    <script type="text/javascript" src="js/cufon/eurofurence_500.font.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

</head>

<body>
    <div id="doc3" class="yui-t6">
        
        <!--header-->
        <div id="hd">  
                      
           <a href="home.html" class="logo">
              <img src="images/logo.png" alt="" />
           </a><!--end logo-->
                        
           <div class="menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
           </div><!--end menu-->                 
                                  
           <div class="breadcrumbs"> 
                <p class="about-us">Sevices | </p><p class="what-we-do">What we can do for you</p>
           </div><!--end breadcrumbs-->    
           
           <div class="shadow-below-breadcrumbs"> 
           </div> <!-- end shadow-below-breadcrumbs -->
                              
        </div> <!--end header-->
           
        <!--middle content-->    
        <div class="bd-home">	
        
            <!-- main content -->  
            <div class="services-page">           
                <div class="services-background">
                	
                    <div class="header-and-image">
                        <div class="service-header">
                            <h2>Services 1</h2>
                        </div>
                        <div class="services-image">
                        	<a class="lightbox" href="assets/services-image-big.jpg">
    	                    	<img src="assets/services-image.jpg" width="164" height="164" alt="portfolio image" />
	                        </a>
                        </div>
                    </div> <!-- end header-and-image -->
                      
                    <div class="services-text">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. </p>
                        
                        <div class="plus">
                            <ul>
                                <li><a href="#">Nulla facilisi roin tortor sem</a></li>
                                <li><a href="#">Vivarnus convalis rutrum lorem</a></li>
                                <li><a href="#">Praesent massa lectus vulputate set</a></li>
                                <li><a href="#">Integer ante. Donec impediet</a></li>
                            </ul>
                         </div> <!-- end plus -->
                         
                         <a href="#" class="btn-order-now">ORDER NOW</a>
                    </div> <!-- end services-text -->
                    
                </div> <!-- end services-background -->
                
                <div class="services-background">
                
                	<div class="header-and-image">
                        <div class="service-header">
                            <h2>Services 2</h2>
                        </div>
                        <div class="services-image">
                        	<a class="lightbox" href="assets/services-image-big.jpg">
    	                    	<img src="assets/services-image.jpg" width="164" height="164" alt="portfolio image" />
	                        </a>
                        </div>
                    </div>    <!-- end header-and-image -->
                    
                    <div class="services-text">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. </p>
                        
                        <div class="plus">
                            <ul>
                                <li><a href="#">Nulla facilisi roin tortor sem</a></li>
                                <li><a href="#">Vivarnus convalis rutrum lorem</a></li>
                                <li><a href="#">Praesent massa lectus vulputate set</a></li>
                                <li><a href="#">Integer ante. Donec impediet</a></li>
                            </ul>
                         </div> <!-- end plus -->
                         
	                     <a href="#" class="btn-order-now">ORDER NOW</a>
                    </div>  <!-- end services-text -->
                    
                </div>  <!-- end services-background -->
                
                <div class="services-background">
                	
                    <div class="header-and-image">
                        <div class="service-header">
                            <h2>Services 3</h2>
                        </div>
                        <div class="services-image">
                        	<a class="lightbox" href="assets/services-image-big.jpg">
    	                    	<img src="assets/services-image.jpg" width="164" height="164" alt="portfolio image" />
	                        </a>                        
                        </div>
                    </div>     <!-- end header-and-image -->
                    
                    <div class="services-text">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. </p>
                        
                        <div class="plus">
                            <ul>
                                <li><a href="#">Nulla facilisi roin tortor sem</a></li>
                                <li><a href="#">Vivarnus convalis rutrum lorem</a></li>
                                <li><a href="#">Praesent massa lectus vulputate set</a></li>
                                <li><a href="#">Integer ante. Donec impediet</a></li>
                            </ul>
                         </div> <!-- end plus -->
                         
                         <a href="#" class="btn-order-now">ORDER NOW</a>
                    </div> <!-- end services-text -->
                    
                </div>  <!-- end services-background -->
                  
            </div>  <!-- end main content --> 
            
            <!--sidebar-->
            <div class="sidebar-services"> 
            	
                 <div class="services">
                    <h3 class="sidebar-title">other services</h3>
                    <p class="green-text">what we can do for you</p>                                            
                 </div> <!-- end services -->
				 
                 <div class="plus">
                    <ul>
                        <li><a href="#">Nulla facilisi roin tortor sem</a></li>
                        <li><a href="#">Vivarnus convalis rutrum lorem</a></li>
                        <li><a href="#">Praesent massa lectus vulputate set</a></li>
                        <li><a href="#">Integer ante. Donec impediet</a></li>
                        <li><a href="#">Nulla facilisi roin tortor sem</a></li>
                        <li><a href="#">Vivarnus convalis rutrum lorem</a></li>
                        <li><a href="#">Praesent massa lectus vulputate set</a></li>                        
                    </ul>
                 </div> <!-- end plus -->
                 
                <div class="recent-work">
                    <h3 class="sidebar-title">recent work</h3>
                    <p class="green-text">examples of our work</p>                                            
                </div> <!-- end recent-work -->
                
                <div class="image-below-recent-work-outter">
                    <div class="image-below-recent-work">
                        <ul>
                        	<li><a class="lightbox" href="assets/image-below-recent-work-big.jpg">
    	                    		<img src="assets/image-below-recent-work.jpg" width="101" height="101" alt="portfolio image" />
	                        	</a>
                            </li>
                            <li><a class="lightbox" href="assets/image-below-recent-work-big.jpg">
    	                    		<img src="assets/image-below-recent-work.jpg" width="101" height="101" alt="portfolio image" />
	                        	</a>
                            </li>
                            <li><a class="lightbox" href="assets/image-below-recent-work-big.jpg">
    	                    		<img src="assets/image-below-recent-work.jpg" width="101" height="101" alt="portfolio image" />
	                        	</a>
                            </li>
                            <li><a class="lightbox" href="assets/image-below-recent-work-big.jpg">
    	                    		<img src="assets/image-below-recent-work.jpg" width="101" height="101" alt="portfolio image" />
	                        	</a>
                            </li>                            
                        </ul>
                    </div>   <!-- end image-below-recent-work -->
                </div>   <!-- end image-below-recent-work -->
                	              
            </div> <!--end sidebar-->
            
        </div> <!-- end middle content--> 


	</div> <!-- end doc3 -->
    
    <!-- footer -->
    <div id="ft">
        <div class="wrapper">
        
            <div class="latest-news">
                <h4 class="footer-title">LATEST NEWS</h4>
                <ul>
                   <li>&raquo;<a href="#">Nulla facilisi roin tortor sem</a></li>
                   <li>&raquo;<a href="#">Vivarnus convalis rutrum lorem</a></li>
                   <li>&raquo;<a href="#">Praesent massa lectus vulputate</a></li>
                   <li>&raquo;<a href="#">Integer ante. Donec impediet</a></li>
                </ul>
            </div> <!-- end latest-news -->
            
            <div class="testemonials">
                <h4 class="footer-title">TESTEMONIALS</h4>
                <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            </div> <!-- end testemonials -->
            
            <div class="subscribers">  
                
                <div class="get-to-know">                  
                    <h4 class="footer-title">SUBSCRIBERS</h4>
                    <a href="#">Get to know what's new</a>
                </div>  <!-- end get-to-know -->
                 
                <div class="rss">
                    <a href="#"><img src="images/subscribers.png" alt=""/> </a>
                </div> <!-- end rss -->
                
                <div class="stalk-us">
                    <p>STALK US</p>
                    <a href="#">Join us on the web</a>
                </div>  <!-- end stalk-us -->
                
                <div class="social-networks"> 
                	<ul>                    
                        <li><a href="#"><img src="images/facebook.png" alt=""/></a></li>
                        <li><a href="#"><img src="images/twitter.png" alt="" /> </a></li>
                        <li><a href="#"><img src="images/linkedin.png" alt=""/> </a></li>
                        <li><a href="#"><img src="images/web.png" alt=""/></a></li>
                    </ul>                          
                </div>  <!-- end social-networks  -->
                                                             
            </div> <!-- end subscribers -->
            
            <div class="newsletter">  
                 <h4 class="newsletter-title">NEWSLETTER</h4> 
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <input class="input-email" value="&nbsp;&nbsp;Enter your email..." onblur="this.value=!this.value?'&nbsp;&nbsp;Enter your email...':this.value;" onfocus="this.select();" onclick="this.value='';"></input>
                 <div class="submit">
                     <a href="#" class="btn-submit">
                     	Submit
                        <img src="images/btn-submit.png" alt="" />
                     </a>
                 </div>   <!-- end submit -->
            </div> <!-- end newsletter -->
            
        </div> 
    </div>  <!-- end footer -->
    
    <!-- copyright -->
    <div class="copyright">   
		<div class="copyright-wrapper">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="about-us.html">About</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="services.html">Services</a></li>
                <li><p class="slash">&nbsp;/&nbsp;</p></li>
                <li><a href="contact-us.html">Contact</a></li> 
            </ul>              
                
            <div class="copyright2010">
                <p class="all-right-reserved">Copyright 2010. </p>
                <a href="#" id="moderna-link">moderna.</a> 
                <p class="all-right-reserved">All Right Reserved.</p>       
            </div> <!-- end copyright2010 -->  
        </div>              
    </div>  <!-- end copyright -->
    
</body>
</html>